services:
  opendaylight:
    build:
      context: ./
      dockerfile: dockerfile  
    # image: opendaylight/odl:latest
    # image: opendaylight/odl-ubuntu-image
    # ถ้า latest ไม่เวิร์ค ให้ลองเปลี่ยนเป็น opendaylight/odl:13.0.0
    container_name: odl_controller
    ports:
      - "8181:8181"
      - "6633:6633"
      - "6653:6653"
      - "8101:8101"
    environment:
      - JAVA_OPTS=-Xms2g -Xmx4g
    # เพิ่ม 2 บรรทัดนี้เพื่อแก้ปัญหา locale
      - LANG=C.UTF-8
      - LC_ALL=C.UTF-8      
    volumes:
      - ./hawtio-karaf-2.17.0-features.xml:/home/user/karaf-0.18.1/hawtio-karaf-2.17.0-features.xml    
      - ./hawtio-osgi-2.17.0.war:/home/user/karaf-0.18.1/deploy/hawtio-osgi-2.17.0.war
    #   - ./entrypoint.sh:/entrypoint.sh    
    #   - ./users.properties:/etc/users.properties
    privileged: true  # <--- บรรทัดนี้สำคัญที่สุด! สำคัญกว่า cap_add
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1        
    restart: unless-stopped
    stdin_open: true
    tty: true



    # ONOS Controller
    # docker run -d -p 8181:8181 -p 8101:8101 -p 6653:6653 -p 6633:6633 --name onos onosproject/onos